$light__gray: #E9E9E9;
$gray1: #E8E8E8;
$gray2: #6C6C6C;
$gray3: #4E4D4D;
$gray4: #989898;
$gray5: #C1C1C1;
$gray6: #8B8D8E;
$black1: #2E3233;
$black2: #0D1218;
$red: #D21341;
$white: #F5F5F5;
$green: #2CB742;
$green2: #075E54;
$blue: #0088CC;